.tsparticles-canvas-el{
  position: absolute !important;
  height: 100vh !important;
  width: 100%  !important;
  z-index: -2 !important;
}
  /*************For Large Devices******************/

  @media (min-width: 1200px){
    .h{
          font-size: 2.5rem !important
      }
      .p{
        font-size:  1.5rem !important
      }
  }